<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h5 class="border-bottom pb-2 mb-0">Recent updates</h5>

  {% for tweet in tweets %}
  <div class="d-flex text-muted pt-3">
    <img src="{{ tweet.author.avatar(48) }}" alt="" class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="48"
      height="48">
    <table>
      <tr valign="top" class="pb-3 mb-0 small lh-sm border-bottom">
        <td>
          <strong class="d-block text-gray-dark"><a href="{{ url_for('profile', username = tweet.author.username) }}"
              class="d-block text-gray-dark">
              {{ tweet.author.username }}</a></strong>
          {{ moment(tweet.create_time).format("YYYY-MM-DD, HH:mm:ss") }}
          ({{ moment(tweet.create_time).fromNow() }})
          <!-- {{ (tweet.create_time).strftime("%Y-%m-%d %H:%M:%S") }} -->
        </td>
        <td>
          <form action="{{ url_for('edit_tweet', id = tweet.id) }}" method="post">
            {% if current_user.is_liking(tweet) %}
            <input class="btn btn-outline-success" type="submit" name="request_button" value="Unlike">
            {% else %}
            <input class="btn btn-outline-success" type="submit" name="request_button" value="Like">
            {% endif %}
            {{ tweet.beliked.count() }}
            {% if tweet.author == current_user %}
            <a class="btn btn-outline-success" href="{{ url_for('edit_tweet', id = tweet.id) }}">Edit</a>
            <input class="btn btn-outline-danger" type="submit" name="request_button" value="Delete">
            {% endif %}
          </form>
        </td>
      </tr>
      <tr>
        <td>{{ tweet.body }}</td>
      </tr>
    </table>
  </div>
  {% endfor %}

  <nav aria-label="pagination">
    <ul class="pagination">
      {% if prev_url %}
      <li class="page-item">
        <a class="page-link" href="{{ prev_url }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disable">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}

      {% if next_url %}
      <li class="page-item">
        <a class="page-link" href="{{ next_url }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disable">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>

</div>