{% extends "base.html" %}

{% block content %}

<div class='row'>
  <div class="text-center col-lg-4"></div>
  <div class="text-center col-lg-4">
    <main class="text-center form-signin w-100 m-auto">
      <form action="" method="post">
        {{ form.hidden_tag() }}

        <img class="mb-1" src="/static/logo.jpeg" alt="LOGO" width="144" height="114">
        <h1 class="h3 mb-3 fw-normal">Hello, <a href="/{{ current_user.username }}">{{ current_user.username }}</a></h1>

        <div>
          {{ form.tweet(class="form-control", cols=50, rows=4) }}<br />
          {% for error in form.tweet.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </div>
        {{ form.submit(class="w-100 btn btn-lg btn-secondary") }} <br>
      </form>
    </main>
  </div>
</div>

{% include "_tweets.html" %}

<small class="d-block text-end mt-3">
  <a href="{{ url_for('explore')}} ">Explore more</a>
</small>

{% endblock %}