{% extends "base.html" %}

{% block content %}
<div class='row'>
  <div class="text-center col-lg-4"></div>
  <div class="text-center col-lg-4">
    <main class="text-center form-signin w-100 m-auto">
      <form action="" method="post">
        {{ form.hidden_tag() }}

        <img class="mb-1" src="/static/logo.jpeg" alt="LOGO" width="144" height="114">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          {{ form.username(class="form-control", id="floatingInput", placeholder="Username") }}
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          {{ form.password(class="form-control", id="floatingPassword", placeholder="Password") }}
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mt-2 mb-2">
          {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        {{ form.submit(class="w-100 btn btn-lg btn-secondary") }}
        <hr>
        <!-- The JS SDK Login Button -->
        <!-- <div class="fb-login-button" onlogin="checkLoginState();" data-width="600" data-height="300" data-size="large"
          data-button-type="login_with" data-auto-logout-link="true" data-use-continue-as="false"></div> -->
        <div class="row-margin-top">
          <button type="button" onclick="checkFBlogin();" class="btn fb-login-button" data-size="large">Facebook
            Login</button>
        </div>
        <div id="status"></div>
        <p class="mt-5 mb-3 text-muted">&copy; 2022–2023</p>
        <div>
          <a href="{{ url_for('register') }}">New User?</a> or
          <a href="{{ url_for('reset_password_request')}}">Forget Password?</a>
        </div>
      </form>
    </main>
  </div>
</div>

<script src="static/javascripts/fb_sdk.js"></script>
<script src="static/javascripts/fb_login.js"></script>
<!-- Load the JS SDK asynchronously -->
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v16.0&appId=544423384484631&autoLogAppEvents=1"
  nonce="NfCaqGg4"></script>
{% endblock %}