{% extends "base.html" %}

{% block content %}

<div class='row'>
  <div class="text-center col-lg-4"></div>
  <div class="text-center col-lg-4">
    <main class="text-center form-signin w-100 m-auto">
      <form action="" method="post">
        {{ form.hidden_tag() }}

        <img class="mb-1" src="/static/logo.jpeg" alt="LOGO" width="144" height="114">
        <h1 class="h3 mb-3 fw-normal">Create New User</h1>

        <div class="form-floating">
          {{ form.username(class="form-control", id="floatingInput", placeholder="Username") }}
          <label for="floatingInput">Username</label>
          {% for error in form.username.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="form-floating">
          {{ form.email(class="form-control", id="floatingEmail", placeholder="xxx@mail.com") }}
          <label for="floatingEmail">Email Address</label>
          {% for error in form.email.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="form-floating">
          {{ form.password(class="form-control", id="floatingPassword", placeholder="Password") }}
          <label for="floatingPassword">Password</label>
          {% for error in form.password.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="form-floating">
          {{ form.password2(class="form-control", id="floatingPassword2", placeholder="Password") }}
          <label for="floatingPassword2">Repeat Password</label>
          {% for error in form.password2.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </div>

        {{ form.submit(class="w-100 btn btn-lg btn-secondary") }}
        <p class="mt-5 mb-3 text-muted">&copy; 2022–2023</p>

      </form>
    </main>
  </div>
</div>

{% endblock %}