{% extends "base.html" %}

{% block content %}

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h5 class="border-bottom pb-2 mb-0">User</h5>
  <table class="d-flex text-muted pt-3">
    <tr valign="top">
      <td>
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="{{ user.avatar(200) }}" alt="" />
        </div>
      </td>
      <td> &nbsp;&nbsp; </td>
      <td>
        <form action="" method="post">
          <table>
            <tr>
              <td>
                <h3 class="fs-2">{{ user.username }}</h3>
              </td>
              <td>
                {% if user == current_user %}
                {% if current_user.is_activated != 1 %}
                <input id="btn" class="btn btn-warning btn-sm" type="submit" name="request_button" value="activate">
                {% else %}
                <span class="badge bg-success">activated</span>
                {% endif %}
                {% endif %}
              </td>
            </tr>
          </table>
        </form>
        <p>{{ user.followers.count() }} Followers &nbsp;&nbsp;&nbsp; {{ user.followed.count() }} Following</p>
        <form action="" method="post">
          {% if user != current_user %}
          {% if current_user.is_following(user) %}
          <input class="btn btn-outline-secondary" type="submit" name="request_button" value="Unfollow">
          {% else %}
          <input class="btn btn-outline-success" type="submit" name="request_button" value="Follow">
          {% endif %}
          {% endif %}
        </form>
        <br>

        <div class="pb-3 mb-0 small lh-sm">
          {% if user.about_me %}
          <b>About me:</b>
          <p>{{ user.about_me }}</p>
          {% endif %}
          {% if user.create_time %}
          <b>Joined:</b>
          <p>{{ (user.create_time + timedelta).strftime("%Y-%m-%d %H:%M:%S") }}</p>
          {% endif %}
        </div>
        {% if user == current_user %}
        <p><a href="{{ url_for('edit_profile') }}">Edit Your Profile</a></p>
        {% endif %}
      </td>
    </tr>
  </table>
</div>

{% include "_tweets.html" %}

{% endblock %}